.btn {
  background-image: $gradient-blue;
  border-radius: 10rem;
  border: none;
  padding: 1rem 3rem;
  color: $color-text-white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  @media only screen and (max-width: $bp-medium) {
    padding: 0.7rem 2.2rem;
  }
  &--small {
    padding: 0.7rem 2rem;
    @media only screen and (max-width: $bp-medium) {
      padding: 0.6rem 1.7rem;
    }
  }

  &__circle {
    &--top {
      display: none;
      opacity: 0;
      position: fixed;
      font-size: 2rem;
      z-index: 40;
      bottom: 5%;
      right: 5%;
      padding: 0;
      width: 5rem;
      height: 5rem;
      text-align: center;
      line-height: 250%;
      transition: all 0.2s ease-in-out;
      @media only screen and (max-width: $bp-large) {
        width: 6rem;
        height: 6rem;
        line-height: 200%;
        font-size: 3rem;

      }
      @media only screen and (max-width: $bp-small) {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
      }
      &-visible {
        display: block;
        opacity: 1;
      }
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &--large {
    font-size: 3rem;
    margin: 0 5%;

    &:hover {
      transform: scale(1.08);
    }
  }
}

.type {
  width: 7.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-white;
  text-align: center;
  text-shadow: -1px -1px 0.1rem #000, 1px -1px 0.1rem #000, -1px 1px 0.1rem #000,
    1px 1px 0.1rem #000;
  border-radius: 0.8rem;

  &__7 {
    background: $color-bug;
    border: .2rem solid $color-bug-dark;

    &:before {
      content: "Bug";
    }
  }

  &__17 {
    background: $color-dark;
    border: .2rem solid $color-dark-dark;

    &:before {
      content: "Dark";
    }
  }

  &__16 {
    background: $color-dragon;
    border: .2rem solid $color-dragon-dark;

    &:before {
      content: "Dragon";
    }
  }

  &__13 {
    background: $color-electric;
    border: .2rem solid $color-electric-dark;

    &:before {
      content: "Electric";
    }
  }

  &__18 {
    background: $color-fairy;
    border: .2rem solid $color-fairy-dark;

    &:before {
      content: "Fairy";
    }
  }

  &__2 {
    background: $color-fighting;
    border: .2rem solid $color-fighting-dark;

    &:before {
      content: "Fighting";
    }
  }

  &__10 {
    background: $color-fire;
    border: .2rem solid $color-fire-dark;

    &:before {
      content: "Fire";
    }
  }

  &__3 {
    background: $color-flying;
    border: .2rem solid $color-flying-dark;

    &:before {
      content: "Flying";
    }
  }

  &__8 {
    background: $color-ghost;
    border: .2rem solid $color-ghost-dark;

    &:before {
      content: "Ghost";
    }
  }

  &__12 {
    background: $color-grass;
    border: .2rem solid $color-grass-dark;

    &:before {
      content: "Grass";
    }
  }

  &__5 {
    background: $color-ground;
    border: .2rem solid $color-ground-dark;

    &:before {
      content: "Ground";
    }
  }

  &__15 {
    background: $color-ice;
    border: .2rem solid $color-ice-dark;

    &:before {
      content: "Ice";
    }
  }

  &__1 {
    background: $color-normal;
    border: .2rem solid $color-normal-dark;

    &:before {
      content: "Normal";
    }
  }

  &__4 {
    background: $color-poison;
    border: .2rem solid $color-poison-dark;

    &:before {
      content: "Poison";
    }
  }

  &__14 {
    background: $color-psychic;
    border: .2rem solid $color-psychic-dark;

    &:before {
      content: "Psychic";
    }
  }

  &__6 {
    background: $color-rock;
    border: .2rem solid $color-rock-dark;

    &:before {
      content: "Rock";
    }
  }

  &__9 {
    background: $color-steel;
    border: .2rem solid $color-steel-dark;

    &:before {
      content: "Steel";
    }
  }

  &__11 {
    background: $color-water;
    border: .2rem solid $color-water-dark;

    &:before {
      content: "Water";
    }
  }

  &:hover {
    filter: brightness(1.1);
  }

  &--small {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $color-text-white;
    padding: 0;
    letter-spacing: 0;
    font-size: 1.2rem;
    width: 6.5rem;
    border-radius: 0.8rem;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.status {
  color: $color-text-white;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 8rem;

  &--1 {
    // physical
    background-color: $color-status-physical;
    border: 1px solid $color-status-physical-dark;

    &:before {
      content: "Physical";
    }
  }

  &--2 {
    //special
    background-color: $color-status-special;
    border: 1px solid $color-status-special-dark;

    &:before {
      content: "Special";
    }
  }

  &--3 {
    //status
    background-color: $color-status-status;
    border: 1px solid $color-status-special-dark;

    &:before {
      content: "Status";
    }
  }
}
