.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: $color-white;
  text-align: center;
  border: .4rem solid $color-red-light;
  border-radius: 2rem;
  padding: 2.5rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
  &__text {
    font-size: 3rem;
    color:$color-red-light;
  }
  &--show {
    z-index: 100;
    visibility: visible;
    box-shadow: 0 29px 38px rgba(0, 0, 0, 0.2), 0 29px 12px rgba(0, 0, 0, 0.12);
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}
