.info {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  @media only screen and (max-width: $bp-large){
    display: block;
  }
  overflow: auto;

  &--active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__loading {
    display: flex;
  }

  &__loading *:not(:first-child) {
    display: none;
  }
}
