.evolution {
  grid-column: 1 /-1;

  &__pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      width: 100%;
      margin-bottom: -12%;
    }

    &-naming,
    &-types {
      width: 100%;
      text-align: center;
    }

    &-naming {
      margin: 1rem 0;
    }

    &-types {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__requirement {
    @media only screen and (max-width: $bp-large) {
      font-size: 150%;
    }
  }

  &__cause {
    font-size: 1.5rem;
  }

  &__pointer {
    font-size: 4rem;
    text-align: center;

    &-1Of2 {
      transform: rotate(-15deg);
    }

    &-2Of2 {
      transform: rotate(15deg);
    }

    &-1Of3 {
      transform: rotate(-30deg);
    }

    &-3Of3 {
      transform: rotate(30deg);
    }
  }

  &__type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  &__container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__container-column {
    display: flex;
    flex-direction: column;
  }
}
