.gain {
    display: grid;
    grid-column: 1 /-1;
    grid-template-columns: repeat(2,1fr);

    &__catching {}

    &__hatching {
        &-male {
            background-color: royalblue;
            height: 100%;
            color: #fff;
            padding: .2rem 1rem;
            border-radius: 5px 0 0 5px;
        }

        &-female {
            background-color:palevioletred;
            color: #fff;
            height: 100%;
            padding: .2rem 1rem;
            border-radius: 0 5px 5px 0;
        }
    }


}