//@media only screen and (max-width: $bp-large){
//     font-size: 50%;
// }
// // 16px is one 1rem default
// $bp-largest: 75em; //1200px  12/16 = 0.75
// $bp-large: 68.75em; //1100px 11/16 = 0.6875
// $bp-medium: 56.25em; //900px 9/16 = 0.5625
// $bp-small: 37.5em; //600px 6/16 = 0.375
// $bp-smallest: 31.25em; //500px 5/16 = 0.3125

.header {
  width: 100%;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  height: 14rem;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 3rem 0 3rem;
  background-color: $color-light-1;
  z-index: 50;
  @media only screen and (max-width: $bp-medium) {
    grid-row-gap: 1rem;
    grid-template-columns: 3fr repeat(3, 1fr) 3fr;
    grid-template-rows: 4rem 5rem;
  }
  &__logo {
    min-width: 26rem;
    object-fit: contain;
    position: relative;
    @media only screen and (max-width: $bp-medium) {
      grid-row: 1/2;
      grid-column: 2/5;
    }
  }
}

.logo {
  &__element {
    display: inline;
  }

  &__img {
    display: inline;
    position: absolute;
    width: 5rem;
    transform-origin: 50% 50%;
    animation: logoStart 1.5s 1s 1 forwards ease-in-out;
    animation-iteration-count: 1;

    &:hover {
      left: 75%;
      opacity: 1;
      transform-origin: 50% 80%;
      animation: shake 2s 1s infinite ease-in-out;
    }
  }
}

.liked {
  width: 15rem;
  height: 7.5rem;
  position: relative;
  z-index: 10;
  visibility: hidden;
  text-align: right;
  justify-self: end;
  align-self: first baseline;
  @media only screen and (max-width: $bp-medium) {
    grid-row: 2/3;
    grid-column: 5/6;
  }
  &__img {
    width: 8rem;
  }

  &__field {
    display: inline-block;
    width: 5rem;
    height: 7rem;
    fill: $color-blue-secondary;
    transition: all 0.2s ease-in-out;

    &:hover {
      fill: $color-blue-primary;
      & .liked__remove,
      .liked__vs {
        opacity: 1;
      }
    }
  }

  &__list {
    list-style: none;
    background: $color-white;
  }

  &__panel {
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    background-color: $color-white;
    height: 0;
    transition: all 0.2s ease-in-out;
    width: 31rem;
    margin-left: -100%;
  }

  &__panel:hover,
  &__field:hover + &__panel {
    visibility: visible;
    opacity: 1;
    height: 50vh;
    overflow-y: scroll;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &__link {
    display: flex;
    text-decoration: none;
    background: white;
    color: $color-text-grey-dark1;
    padding: 1rem;
    font-size: 2rem;
    transition: $transition-small;
    margin-top: 1rem;
    justify-content: space-between;

    &:hover {
      background: $color-light-1;
      transform: translateY(-0.8rem);

      .liked__remove,
      .liked__vs {
        opacity: 1;
      }
    }
  }

  &__type {
    display: flex;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 1rem;
  }

  &__btn {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-image: $gradient-blue;
    color: $color-text-white;
    border: none;
    border-radius: 50%;
    align-self: center;
    box-shadow: $dropshadow-static-sm;
    opacity: 0;
    transition: $transition-small;

    &:hover {
      box-shadow: $dropshadow-hover-sm;
      transform: scale(1.1);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }
}

.search {
  display: block;
  position: relative;
  max-width: 40rem;
  @media only screen and (max-width: $bp-medium) {
    grid-row: 2/3;
    grid-column: 1/6;
    width: 100%;
  }
  &__form {
    visibility: visible;
    display: block;
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      width: max-content;
    }
  }

  &__btn {
    display: flex;
    align-items: flex-end;
    &-text {
      display: block;
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: white;
    margin-right: 1rem;
  }

  &__more-options {
    display: block;
    position: relative;
    width: auto;
    height: 0;
    @media only screen and (max-width: $bp-medium) {
      display: inline;
      align-self: top;
      font-size: 1.7rem;
      margin: 1.4rem;
      width: 20rem;
    }
  }

  &__container {
    pointer-events: none;
    position: relative;
    visibility: hidden;
    z-index: -1;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1.5rem;
    margin-left: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0.4);
    transform-origin: 10% 10%;
    @extend %unHighlightable;
    @media only screen and (max-width: $bp-medium) {
      margin-left: -100%;
      // position: fixed;
      // top: 20%;
      // left: 20%;
      // transform: translate(-50%, -50%);
      // width: 60vw;
      // height: auto;
      // transform-origin: 50% 50%;
    }
  }

  &__sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
    z-index: 10;
  }

  &__chk-btn {
    display: none;
  }

  &__chk-btn:checked ~ &__container {
    display: flex;
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: scale(1);
  
  }

  &__btn-label {
    background-image: linear-gradient(
      to right bottom,
      #76cde7 0%,
      #2b9ec8 100%
    );
    border-radius: 4rem;
    border: none;
    padding: 0.4rem 1.2rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
    margin: 1rem;
    @extend %unHighlightable;
  }

  &__field-container {
    background-color: white;
    border-radius: 4rem;
    display: flex;
    transition: all 0.2s ease-in-out;
    margin: 1rem 0;
    @media only screen and (max-width: $bp-medium) {
      display: inline-flex;
    }

    &:focus-within {
      transform: scale(1.02) translateY(-0.3rem);
      box-shadow: 0 0.7rem 3rem #1181;
    }
  }

  &__field {
    border: none;
    background-color: transparent;
    width: 30rem;
    font-size: 1.7rem;
    padding-left: 3rem;
    font-family: inherit;
    outline: none;

    &::placeholder {
      color: $color-text-grey-light1;
    }
  }
}
