.moves {
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-row-gap: 2rem;

  &__title {
    grid-column: 1 /-1;
  }

  &__type {
    display: flex;

  }

  &__levelup,
  &__tms,
  &__egg,
  &__tutor {
    width: 95%;
    @media only screen and (max-width: $bp-large){
    font-size: 68.75%;
}
  }
}
