.pokedex {
  position: relative;
  &__ui {
    background-color: $color-light-2;
    position: sticky;
    margin: 0 3rem;
    top: 14rem;
    z-index: 30;
    transform: scale(1);
    @media only screen and (max-width: $bp-medium) {
      margin: 0;
    }
  }

  &__display {
    padding: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    row-gap: 3rem;
    @media only screen and (max-width: $bp-small) {
      row-gap: 2rem;
    }
  }
}
